In [2]:
import pandas as pd
import numpy

In [4]:
df = pd.read_csv('game-data/2015games.csv')

In [6]:
df.tail(10)

,Unnamed: 0,Date,Team A,Team B,Team A Points,Team B Points,Winner,Point Differential
2003,2003,2015-12-23,Eastern Michigan,Michigan,64,63,Eastern Michigan,1
2004,2004,2015-12-23,Georgetown,Towson,82,46,Georgetown,36
2005,2005,2015-12-23,Georgia,Cincinnati,60,42,Georgia,18
2006,2006,2015-12-23,Gonzaga,Loyola Marymount,66,59,Gonzaga,7
2007,2007,2015-12-23,Minnesota,North Dakota,57,47,Minnesota,10
2008,2008,2015-12-23,Pacific,San Francisco,70,57,Pacific,13
2009,2009,2015-12-23,Pepperdine,Portland,74,62,Pepperdine,12
2010,2010,2015-12-23,Santa Clara,Saint Mary's,73,67,Santa Clara,6
2011,2011,2015-12-23,San Diego,BYU,78,65,San Diego,13
2012,2012,2015-12-23,St. Bonaventure,Niagara,67,55,St. Bonaventure,12